
.idea
build
.gradle
src/main/resources/assets/fractalstellaris/textures
src/main/resources/assets/fractalstellaris/sounds
src/main/resources/assets/fractalstellaris/music
src/main/genereted
*.class
*.py
